<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="Header">
        <property name="headerFile" value="header.txt"/>
    </module>
    <module name="TreeWalker">
        <module name="BooleanExpressionComplexity">
            <property name="max" value="3"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="max" value="20"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="1000"/>
        </module>
        <module name="EmptyCatchBlock"/>
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="NeedBraces"/>
    </module>
    <module name="FileLength"/>
    <module name="FileTabCharacter"/>
</module>